<!-- <div class="container">
	<div class="row">
		<h1 class="center">Eastside Loop</h1>
		<h4 class="center">4 miles</h4>
		<div class="col s6">
			<img id="eastsideRouteMainImage" src="/assets/images/routes/eastside.jpg" alt="Image of the Butler Trail">
		</div>
		<div class="col s6">
			<p>Start writing a description here</p>
		</div>
	</div>
</div> -->
<div class="container">
  <div class="slider">
  	<ul class="slides">
      	<li>
          	<img src="/assets/images/routes/eastside.jpg"> <!-- random image -->
          	<div class="caption center-align">
            		<h5 class="light grey-text text-lighten-3">Trail by the old power plant</h5>
          	</div>
        	</li>
        	<li>
          	<img src="/assets/images/routes/boardwalk.jpg"> <!-- random image -->
          	<div class="caption center-align">
            		<h5 class="light grey-text text-lighten-3">The boardwalk</h5>
          	</div>
        	</li>
        	<li>
          	<img src="/assets/images/routes/skyline.jpg"> <!-- random image -->
          	<div class="caption center-align">
            		<h5 class="light grey-text text-lighten-3">The Austin skyline</h5>
          	</div>
        	</li>
        	<li>
          	<img src="/assets/images/runLogo.jpg"> <!-- random image -->
          	<div class="caption center-align">
            		<h5 class="light grey-text text-lighten-3">This is not Bevo, but maybe a cousin?</h5>
          	</div>
        	</li>
        
      </ul>
  </div>
</div>

<script>
  $(document).ready(function(){
      $('.slider').slider({full_width: false});

      // Pause slider
      $('.slider').slider('pause');
      // Start slider
      $('.slider').slider('start');
      // Next slide
      $('.slider').slider('next');
      // Previous slide
      $('.slider').slider('prev');
    });
</script>