<div class="navbar-fixed">
  <nav class="grey darken-4">
      <div class="nav-wrapper mainNavBar">
        <div class="left hide-on-med-and-down">
          {{#if user}}
            <p class="loginText">Howdy, {{user.username}}<a href="/logout" class="grey-text"> logout</a></p>
          {{^}}
            <p class="loginText grey-text">Howdy, please <a class="modal-trigger" href="#modal1">sign in</a>
          {{/if}}
         </div>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text navLinks" href="/">Home</a></li>
          <li><a class="white-text navLinks" href="/routes">Routes</a></li>
          <li><a class="white-text navLinks" href="/training">Training</a></li>
          <li><a class="white-text navLinks" href="/races">Races</a></li>
          <li><a class="white-text navLinks" href="/community">Community</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/routes">Routes</a></li>
          <li><a href="/training">Training</a></li>
          <li><a href="/races">Races</a></li>
          <li><a href="/community">Community</a></li>
        </ul>
    </div>
  </nav>
</div>

<div class="banner">
  <div class="row">
    <header class="col s12">
      <h1 class="center white-text title">Run This Town - ATX</h1>
    </header>
  </div>
</div>

<!-- Modal -->
<div id="modal1" class="modal grey lighten-1">
  <div class="modal-content">
    <div class="row">
      <div class="col l6 s12 registrationForm">
        <h5>Returning User</h5>
        <p>Sign in here</p>
        <form action="/login" method="post">
            <label class="">Username:</label>
            <input type="text" name="username" required="true"/><br/>
            <label>Password:</label>
            <input type="password" name="password" required="true"/>
            <input type="hidden" value="/" name="pathName">
            <input type="submit" value="Submit"/>
        </form>
      </div>
      <div class="col l6 s12 registrationForm">
        <h5>New User</h5>
        <p>Register Here</p>
        <form action="/register" method="post">
            <label class="">Username:</label>
            <input type="text" name="username" required="true"/><br/>
            <label>Password:</label>
            <input type="password" name="password" required="true"/>
            <input type="hidden" value="/" name="pathName">
            <input type="submit" value="Submit"/>
        </form>
      </div>
    </div>
  </div>
  
  
  <div class="modal-footer grey darken-4">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat grey-text text-darken-2">Close</a>
  </div>
</div>

<!-- first row start -->
<div class="container mainContent">
<div class="row">
	<!-- <div class="col l3">
    <img src="assets/images/runLogo.png" alt="Run This Town Mascot" id="runMascot">
	</div> -->
  <div class="col l9 grey-text text-darken-3">
    <p id="mainPageIntro">With it's sub-tropical climate, abundant sunshine, and miles of trails Austin is a mecca for runners - a fact that is hard to ignore if you have ever stepped outside on a sunny day.  While running can be an introspective and private activity, there are enough friendly Austinites, running clubs, exceptional coaches, unique races, and other running related events that it would be a shame not to participate in the social opportunities this city provides.  Whether you  are looking for a new route to run, a training program / partner / group / coach, or just a good way to spend the afternoon this site is here to help.  Now get out there, and as a wise man has been known to say, run every chance you get!"</p>
  </div>
  <div class="col l3">
    <blockquote class="instagram-media" data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BKs7RifBwQk/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A photo posted by RunThisTown (@runthistownatx)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-09-23T14:34:43+00:00">Sep 23, 2016 at 7:34am PDT</time></p></div></blockquote>
	</div>
</div>

<div class="row">
  <div class="col l3 offset-l9">
    <blockquote class="instagram-media" data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BKs6-WdBSyl/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A photo posted by RunThisTown (@runthistownatx)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-09-23T14:32:06+00:00">Sep 23, 2016 at 7:32am PDT</time></p></div></blockquote>
  </div>
</div>
</div>
<!-- FOOTER -->
<div class="row">
	<footer class="">
    <div class="col s6">
    </div>
    <div class="col s6">
    </div> 
	</footer>
</div>

<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>

<script type="text/javascript">
  $(document).ready(function(){
    
  });
</script>

