<nav class="black">
    <div class="nav-wrapper">
      <!-- <a href="#!" class="brand-logo  orange-text text-darken-4"></a> -->
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text navLinks hoverable" href="/">Home</a></li>
        <li><a class="white-text navLinks hoverable" href="/routes">Routes</a></li>
        <li><a class="white-text navLinks hoverable" href="/training">Training</a></li>
        <li><a class="white-text navLinks hoverable" href="/races">Races</a></li>
        <li><a class="white-text navLinks hoverable" href="/community">Community</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/routes">Routes</a></li>
        <li><a href="/training">Training</a></li>
        <li><a href="/races">Races</a></li>
        <li><a href="/community">Community</a></li>
      </ul>
  </div>
</nav>

<div class="banner">
  <div class="col s12 loginDiv">
    {{#if user}}
      <p class="right" id="login">Howdy, {{user.username}}</p><a class="right" href="/logout">logout</a>
    {{^}}
      <p class="right" id="login">Howdy, please <a href="/login">login</a> or <a href="/register">sign up</a></p>
    {{/if}}
  </div>
</div>

<!-- first row start -->
<div class="row">
	<div class="col l4">
    <img src="assets/images/runLogo.jpg" alt="Run This Town Mascot" id="runMascot">
	</div>
  <div class="col l8">
    
	</div>
</div>

<!-- FOOTER -->
<div class="row">
	<div class="col s12">
		<footer class="">
		</footer>
	</div>
</div>

<script>

</script>


