<nav class="black">
    <div class="nav-wrapper">
      <!-- <a href="#!" class="brand-logo  orange-text text-darken-4"></a> -->
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text navLinks hoverable" href="/">Home</a></li>
        <li><a class="white-text navLinks hoverable" href="/routes">Routes</a></li>
        <li><a class="white-text navLinks hoverable" href="/training">Training</a></li>
        <li><a class="white-text navLinks hoverable" href="/races">Races</a></li>
        <li><a class="white-text navLinks hoverable" href="/community">Community</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/routes">Routes</a></li>
        <li><a href="/training">Training</a></li>
        <li><a href="/races">Races</a></li>
        <li><a href="/community">Community</a></li>
      </ul>
  </div>
</nav>

<div class="banner">
  <div class="col s12 loginDiv">
    {{#if user}}
      <p class="right" id="login">Howdy, {{user.username}}</p><a class="right" href="/logout">logout</a>
    {{^}}
      <p class="right" id="login">Howdy, please <a href="/login">login</a> or <a href="/register">sign up</a></p>
    {{/if}}
  </div>
</div>

<!-- first row start -->
<div class="row">
	<div class="col l4">
    <img src="assets/images/runlogo.png" alt="Run This Town Mascot" id="runMascot">
	</div>
  <div class="col l8">
    <blockquote class="instagram-media" data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);">
      <div style="padding:8px;"> 
        <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> 
          <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;">
          </div>
        </div>
        <p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BKs7RifBwQk/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A photo posted by RunThisTown (@runthistownatx)</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-09-23T14:34:43+00:00">Sep 23, 2016 at 7:34am PDT</time></p>
      </div>
    </blockquote>

	</div>
</div>

<!-- FOOTER -->
<div class="row">
	<div class="col s12">
		<footer class="">
		</footer>
	</div>
</div>

<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>


