<div class="navbar-fixed">
  <nav class="grey darken-4">
      <div class="nav-wrapper mainNavBar">
        <div class="left hide-on-med-and-down">
          {{#if user}}
            <p class="loginText">Howdy, {{user.username}}<a href="/logout" class="grey-text"> logout</a></p>
          {{^}}
            <p class="loginText grey-text">Howdy, please <a class="modal-trigger" href="#modal1">sign in</a>
          {{/if}}
         </div>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text navLinks" href="/">Home</a></li>
          <li><a class="white-text navLinks" href="/routes">Routes</a></li>
          <li><a class="white-text navLinks" href="/training">Training</a></li>
          <li><a class="white-text navLinks" href="/races">Races</a></li>
          <li><a class="white-text navLinks" href="/community">Community</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/routes">Routes</a></li>
          <li><a href="/training">Training</a></li>
          <li><a href="/races">Races</a></li>
          <li><a href="/community">Community</a></li>
        </ul>
    </div>
  </nav>
</div>

<div class="banner">
  <div class="row">
    <header class="col s12">
      <h1 class="center white-text title">Run This Town - ATX</h1>
    </header>
  </div>
</div>

<!-- Modal -->
<div id="modal1" class="modal grey lighten-1">
  <div class="modal-content">
    <div class="row">
      <div class="col l6 s12 registrationForm">
        <h5>Returning User</h5>
        <p>Sign in here</p>
        <form action="/login" method="post">
            <label class="">Username:</label>
            <input type="text" name="username"/><br/>
            <label>Password:</label>
            <input type="password" name="password"/>
            <input type="submit" value="Submit"/>
        </form>
      </div>
      <div class="col l6 s12 registrationForm">
        <h5>New User</h5>
        <p>Register Here</p>
        <form action="/register" method="post">
            <label class="">Username:</label>
            <input type="text" name="username"/><br/>
            <label>Password:</label>
            <input type="password" name="password"/>
            <input type="submit" value="Submit"/>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal-footer grey darken-4">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat grey-text text-darken-2">Close</a>
  </div>
</div>

<!-- first row start -->
<div class="container mainContent">
<div class="row">
	<!-- <div class="col l3">
    <img src="assets/images/runLogo.png" alt="Run This Town Mascot" id="runMascot">
	</div> -->
  <div class="col l9">
    <p id="mainPageIntro">With {} days of sun, a sub-tropical climate, and miles of trails Austin is a mecca for runners.  Friendly people, running clubs, bars, races.  There is a lot to offer, and I need to write this section.  These are some examples topics I can focus on.  I might want to say something about the greenbelt and violet crown trail for all those trail runners out there.  Maybe something about dogs and dog parks, too?</p>
  </div>
  <div class="col l3">
    <blockquote class="instagram-media" data-instgrm-version="7">
      <div style="padding:8px;"> 
        <div id="instagram2"> 
          <div id="instagram3">
          </div>
        </div>
        <p id="instagram4"><a id="instagramLink" href="https://www.instagram.com/p/BKs7RifBwQk/" target="_blank">A photo posted by RunThisTown (@runthistownatx)</a> on <time id="instagramDate" datetime="2016-09-23T14:34:43+00:00">Sep 23, 2016 at 7:34am PDT</time></p>
      </div>
    </blockquote>

	</div>
</div>
</div>
<!-- FOOTER -->
<div class="row">
	<footer class="">
    <div class="col s6">
      <ul class="footerNav">
        <li class="listHeader">A Heading for these links</li>
        <li></li>
        <li><a href="/" class="">Home</a></li>
        <li><a href="/routes" class="">Routes</a></li>
        <li><a href="/training" class="">Training</a></li>
        <li><a href="/races" class="">Races</a></li>
        <li><a href="/community" class="">Community</a></li>
        <li></li>
      </ul>
    </div>
    <div class="col s6">
    </div> 
	</footer>
</div>

<script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
<script type="text/javascript">
  $(document).ready(function(){
    // the "href" attribute of .modal-trigger must specify the modal ID that wants to be triggered
    $('.modal-trigger').leanModal();
  });

</script>
