<div class="row loginBarContainer">
  <div class="col s12">
    <h4>Log In</h4>
    <form id="loginForm" action="/login" method="post">
        <label class="col s3 offset3">Username:</label>
        <input type="text" name="username"/><br/>
        <label>Password:</label>
        <input type="password" name="password"/>
        <input type="submit" value="Submit"/>
    </form>
  </div>
</div>



<!-- FOOTER -->
<div class="row">
	<div class="col s12">
		<footer class="grey darken-4">
		</footer>
	</div>
</div>