

<div class="row loginBarContainer">
  <div class="col s12">
    <form id="loginForm" action="/login" method="post">
      <!-- <div> -->
        <label class="col s3 offset3">Username:</label>
        <input type="text" name="username"/><br/>
      <!-- </div> -->
      <!-- <div class="col s3"> -->
        <label>Password:</label>
        <input type="password" name="password"/>
      <!-- </div> -->
      <!-- <div class="col s3"> -->
        <input type="submit" value="Submit"/>
      <!-- </div> -->
    </form>
  </div>
</div>



<!-- FOOTER -->
<div class="row">
	<div class="col s12">
		<footer class="grey darken-4">
		</footer>
	</div>
</div>