<!-- Navbar -->
<nav class="grey lighten-5">
    <div class="nav-wrapper">
      <!-- <a href="#!" class="brand-logo  orange-text text-darken-4"></a> -->
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="grey-text navLinks" href="/">Home</a></li>
        <li><a class="grey-text navLinks" href="/routes">Routes</a></li>
        <li><a class="grey-text navLinks" href="/training">Training</a></li>
        <li><a class="grey-text navLinks" href="/races">Races</a></li>
        <li><a class="grey-text navLinks" href="/community">Community</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/routes">Routes</a></li>
        <li><a href="/training">Training</a></li>
        <li><a href="/races">Races</a></li>
        <li><a href="/community">Community</a></li>
      </ul>
	</div>
</nav>

<div class="container">
	
</div>

<!-- FOOTER -->
<div class="row">
	<div class="col s12">
		<footer class="">
		</footer>
	</div>
</div>