<div class="navbar-fixed">
  <nav class="grey darken-4">
      <div class="nav-wrapper mainNavBar">
        <div class="left hide-on-med-and-down">
          {{#if user}}
            <p class="loginText">Howdy, {{user.username}}<a href="/logout" class="grey-text"> logout</a></p>
          {{^}}
            <p class="loginText grey-text">Howdy, please <a class="modal-trigger" href="#modal1">sign in</a>
          {{/if}}
         </div>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text navLinks" href="/">Home</a></li>
          <li><a class="white-text navLinks" href="/routes">Routes</a></li>
          <li><a class="white-text navLinks" href="/training">Training</a></li>
          <li><a class="white-text navLinks" href="/races">Races</a></li>
          <li><a class="white-text navLinks" href="/community">Community</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/routes">Routes</a></li>
          <li><a href="/training">Training</a></li>
          <li><a href="/races">Races</a></li>
          <li><a href="/community">Community</a></li>
        </ul>
    </div>
  </nav>
</div>

<!-- Modal -->
<div id="modal1" class="modal grey lighten-1">
  <div class="modal-content">
    <div class="row">
      <div class="col l6 s12 registrationForm">
        <h5>Returning User</h5>
        <p>Sign in here</p>
        <form action="/login" method="post">
            <label class="">Username:</label>
            <input type="text" name="username" required="true"/><br/>
            <label>Password:</label>
            <input type="password" name="password" required="true"/>
            <input type="hidden" value="/races" name="pathName">
            <input type="submit" value="Submit"/>
        </form>
      </div>
      <div class="col l6 s12 registrationForm">
        <h5>New User</h5>
        <p>Register Here</p>
        <form action="/register" method="post">
            <label class="">Username:</label>
            <input type="text" name="username" required="true"/><br/>
            <label>Password:</label>
            <input type="password" name="password" required="true"/>
            <input type="hidden" value="/races" name="pathName">
            <input type="submit" value="Submit"/>
        </form>
      </div>
    </div>
  </div>

  <div class="modal-footer grey darken-4">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat grey-text text-darken-2">Close</a>
  </div>
</div>

<div class="row" id="headingDiv">
  <div class="col s12">
    <h4 id="raceHeading" class="center black-text">Featured Race</h4>
  </div>
</div>

<div class="row">
  <div class="col s12">
    <div class="card-panel weekDay blue white-text z-depth-3">
      <h5 class="center">Thundercloud Turkey Trot</h5>
      <h6 class="center">November 24th</h6>
      <br>
      <a href="https://runsignup.com/Race/Register/?raceId=35600" target="_blank"><p class="center light-green-text text-accent-3">Register Here</p></a>
    </div>
  </div>
</div>

<div class="row trainingHeading">
  <div class="col s12">
    <div class="trainingDivider">
      <h4>Upcoming Races</h4>
      <p class="light">Nothing is more motivating than having a race on the calendar.  Check out some of the local events below and get training for your next event.</p>
      <hr>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col s12">
    <!-- <h5>October</h5> -->
    <table class="raceCalendar">
      <th>Date</th>
      <th>Race</th>
      <th>Distance</th>
      <th>Register</th>
      <tr>
        <td>Nov 24</td>
        <td>Thundercloud Turkey Trot</td>
        <td>5 Mile</td>
        <td><a href="https://runsignup.com/Race/Register/?raceId=35600" target="_blank">Register Here</a></td>
      </tr>
      <tr>
        <td>Dec 11</td>
        <td>Decker Challenge</td>
        <td>Half Marathon</td>
        <td><a href="https://austinrunners.org/events/decker-challenge/" target="_blank">Register Here</a></td>
      </tr>
      <tr>
        <td>Jan 22</td>
        <td>3M Half Marathon</td>
        <td>Half Marathon</td>
        <td><a href="http://www.3mhalfmarathon.com/" target="_blank">Register Here</a></td>
      </tr>
      <tr>
        <td>Jan 28</td>
        <td>Austin Gorilla Run</td>
        <td>5K</td>
        <td><a href="http://austingorillarun.com/" target="_blank">Register Here</a></td>
      </tr>
      <tr>
        <td>Feb 19</td>
        <td>Austin Marathon and Half Marathon</td>
        <td>Marathon / Half Marathon</td>
        <td><a href="http://youraustinmarathon.com/" target="_blank">Register Here</a></td>
      </tr>
    </table>
    </div>
  </div>
</div>

<!-- FOOTER -->
<div class="row">
  <footer class="">
    <div class="col s6">
    </div>
    <div class="col s6">
    </div> 
  </footer>
</div>
