<div class="jumbotron topContent">
	<h1>Races Page</h1>	
</div>

<div class="contentContainer">
	<!-- Navigation Links -->
	<div class="left navigationContainer">
		<ul class="navList">
			<a href="/" class=""><li class="navLinks hoverable">Home</li></a>
		    <a href="/routes" class=""><li class="navLinks hoverable">Routes</li></a>
		    <a href="/races" class=""><li class="navLinks hoverable">Races</li></a>
		    <a href="/training" class=""><li class="navLinks hoverable">Training</li></a>
		    <a href="/community" class=""><li class="navLinks hoverable">Community</li></a>
		</ul>
	</div>

	<div class="right mainContent">
		<!-- Active API Key: 3K5T5V4KDEHSBEH684BN62MY -->
		<!-- URL http://api.amp.active.com/search?{queryString params}&api_key={key} -->
	</div>

</div>