<div class="col s6">
    <h4>Register</h4>
    <form id="loginForm" action="/register" method="post">
      <!-- <div> -->
        <label class="col s3 offset3">Username:</label>
        <input type="text" name="username"/><br/>
      <!-- </div> -->
      <!-- <div class="col s3"> -->
        <label>Password:</label>
        <input type="password" name="password"/>
      <!-- </div> -->
      <!-- <div class="col s3"> -->
        <input type="submit" value="Submit"/>
      <!-- </div> -->
    </form>
</div>