<div class="col s6">
    <h4>Register</h4>
    <form id="loginForm" action="/register" method="post">
        <label class="col s3 offset3">Username:</label>
        <input type="text" name="username"/><br/>
        <label>Password:</label>
        <input type="password" name="password"/>
        <input type="submit" value="Submit"/>
    </form>
</div>