<!-- Navbar -->
<nav class="grey lighten-5">
    <div class="nav-wrapper">
      <a href="#!" class="brand-logo  orange-text text-darken-4"></a>
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="grey-text navLinks" href="/">Home</a></li>
        <li><a class="grey-text navLinks" href="/routes">Routes</a></li>
        <li><a class="grey-text navLinks" href="/training">Training</a></li>
        <li><a class="grey-text navLinks" href="/races">Races</a></li>
        <li><a class="grey-text navLinks" href="/community">Community</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/routes">Routes</a></li>
        <li><a href="/training">Training</a></li>
        <li><a href="/races">Races</a></li>
        <li><a href="/community">Community</a></li>
      </ul>
	</div>
</nav>


<!-- Route Navigation Bar -->
<ul id="butlerDrop" class="dropdown-content">
  <li class="routeNavDropdowns butlerDropdowns" value="0">Full Loop (10 miles)</li>
  <li class="routeNavDropdowns butlerDropdowns" value="1">I-35 to Longhorn Dam (4 miles)</li>
  <li class="routeNavDropdowns butlerDropdowns" value="2">I-35 to Congress (3.25 miles)</li>
  <li class="routeNavDropdowns butlerDropdowns" value="3">Mopac to Pfluger Bridge (3.1 miles)</li>
  <li class="routeNavDropdowns butlerDropdowns" value="4">Mopac to 1st (4.23 miles)</li>
  <li class="routeNavDropdowns butlerDropdowns" value="5">Mopac to Congress (4.8 miles)</li>
  <li class="routeNavDropdowns butlerDropdowns" value="6">Mopac to I-35 (7 miles)</li>
</ul>

<nav class="grey darken-4">
  <div class="nav-wrapper">
    <ul class="right hide-on-med-and-down">
      <li><a class="dropdown-button" href="#!" data-activates="butlerDrop">Butler Trail<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<div class="container mainContent">
<!-- first row start -->
  <div class="row">
  <!-- Main Content -->
    <div class="col l8 s12">
    	<div id="routeImageHolder">
    		<img src="http://www.austinfitmagazine.com/images/cache/cache_4/cache_7/cache_8/image_1201-0a99b874.jpeg?ver=1469824979&aspectratio=2.315" id="routeImage">
    		<h5 class="center" id="routeTitle">The Ann & Roy Butler Hike and Bike Trail</h5>
    	</div>
      <div id="routeDescription">
          <p>Some Text</p>
      </div>
    </div>
    <div class="col l4">
    </div>
  </div>
<!-- first row end -->
</div>

<!-- FOOTER -->
<div class="row">
  <div class="col s12">
    <footer class="">
    </footer>
  </div>
</div>



