<div class="navbar-fixed">
  <nav class="grey darken-4">
      <div class="nav-wrapper mainNavBar">
        <div class="left hide-on-med-and-down">
          {{#if user}}
            <p class="loginText">Howdy, {{user.username}}<a href="/logout" class="grey-text"> logout</a></p>
          {{^}}
            <p class="loginText grey-text">Howdy, please <a class="modal-trigger" href="#modal1">sign in</a>
          {{/if}}
         </div>
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text navLinks" href="/">Home</a></li>
          <li><a class="white-text navLinks" href="/routes">Routes</a></li>
          <li><a class="white-text navLinks" href="/training">Training</a></li>
          <li><a class="white-text navLinks" href="/races">Races</a></li>
          <li><a class="white-text navLinks" href="/community">Community</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/routes">Routes</a></li>
          <li><a href="/training">Training</a></li>
          <li><a href="/races">Races</a></li>
          <li><a href="/community">Community</a></li>
        </ul>
    </div>
  </nav>
</div>

<!-- Modal -->
<div id="modal1" class="modal grey lighten-1">
  <div class="modal-content">
    <div class="row">
      <div class="col l6 s12 registrationForm">
        <h5>Returning User</h5>
        <p>Sign in here</p>
        <form action="/login" method="post">
            <label class="">Username:</label>
            <input type="text" name="username" required="true"/><br/>
            <label>Password:</label>
            <input type="password" name="password" required="true"/>
            <input type="hidden" value="/routes" name="pathName">
            <input type="submit" value="Submit"/>
        </form>
      </div>
      <div class="col l6 s12 registrationForm">
        <h5>New User</h5>
        <p>Register Here</p>
        <form action="/register" method="post">
            <label class="">Username:</label>
            <input type="text" name="username" required="true"/><br/>
            <label>Password:</label>
            <input type="password" name="password" required="true"/>
            <input type="hidden" value="/routes" name="pathName">
            <input type="submit" value="Submit"/>
        </form>
      </div>
    </div>
  </div>
  
  <div class="modal-footer grey darken-4">
    <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat grey-text text-darken-2">Close</a>
  </div>
</div>


<!-- Route Navigation Bar -->
  <ul id="butlerDrop" class="dropdown-content">
    <li class="routeNavDropdowns butlerDropdowns black-text" value="0">Full Loop (10 miles)</li>
    <li class="routeNavDropdowns butlerDropdowns black-text" value="1">I-35 to Longhorn Dam (4 miles)</li>
    <li class="routeNavDropdowns butlerDropdowns black-text" value="2">I-35 to Congress (3.25 miles)</li>
    <li class="routeNavDropdowns butlerDropdowns black-text" value="3">Mopac to Pfluger Bridge (3.1 miles)</li>
    <li class="routeNavDropdowns butlerDropdowns black-text" value="4">Mopac to 1st (4.23 miles)</li>
    <li class="routeNavDropdowns butlerDropdowns black-text" value="5">Mopac to Congress (4.8 miles)</li>
    <li class="routeNavDropdowns butlerDropdowns black-text" value="6">Mopac to I-35 (7 miles)</li>
  </ul>

  <nav class="white">
    <div class="nav-wrapper">
      <ul class="left">
        <li class="routeDropdownButton"><a class="dropdown-button grey-text text-darken-4" href="#!" data-activates="butlerDrop"><strong>Butler Trail</strong><i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>

<div class="container mainContent">
<!-- first row start -->
  <div class="row">
  <!-- Main Content -->
    <div class="col s12">
    	<div id="routeImageHolder">
    		<img src="/assets/images/routes/morningBoardwalk.jpg" id="routeImage" class="z-depth-2">
    		<h5 class="center" id="routeTitle">The Ann & Roy Butler Hike and Bike Trail</h5>
        <a class="center" id="routeMap" href="http://www.mapmyrun.com/routes/view/1306659634" target="_blank">Map</a>
    	</div>
      <div id="routeDescription" class="grey-text text-darken-3 light">
          <p>The Butler Trail is a 10 mile hike and bike trail that meanders along the bank of Ladybird Lake in downtown Austin and is considered the crown jewel of our running routes.  Attracting more than 1.5 million visitors a year the trail is Austin's most popular recreational area.  In this city we pride ourselves on being weird and being active, and both attributes are on full display along the trail.  On a given run you are likely to see unicyclist, slack rope walkers, paddle boarders, dance walkers,   and acro yogis.  One of the great things about the Butler Trail is you never know what you will run across and there is always something new to discover.</p>

          <p>The full trail is a 10 mile loop that follows Ladybird Lake between the Mopac Bridge and Longhorn Dam passing by many of Austin’s iconic landmarks along the way, but one of the best features of the trail is that the numerous bridges allow for a loop of almost any distance, and the multiple trailheads make the trail easily accessible from anywhere in the downtown area.</p>
      </div>
    </div>
  </div>
<!-- first row end -->
</div>

<div class="row">
  <div class="col s10 offset-s1">
    <div id="map"></div>
  </div>
</div>

<!-- FOOTER -->
<div class="row">
  <div class="col s12">
    <footer class="">
    </footer>
  </div>
</div>

<script>
  var map;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: 30.260739, lng: -97.743732},
      zoom: 14,
    });
// +++++++++++
// MARKERS
// +++++++++++
    var marker = new google.maps.Marker({
      position: {lat: 30.245549, lng: -97.726523},
      map: map,
      title: 'East Side Trailhead',
      label: 'P'
    });

    var marker = new google.maps.Marker({
      position: {lat: 30.275000, lng: -97.769889},
      map: map,
      title: 'Mopac Trailhead',
      label: 'P'
    });
    
    var marker = new google.maps.Marker({
      position: {lat: 30.252204, lng: -97.736844},
      map: map,
      title: 'I-35 Parking Area',
      label: 'P'
    });
    
    var marker = new google.maps.Marker({
      position: {lat: 30.261934, lng: -97.748817},
      map: map,
      title: 'Butler Park Trailhead',
      label: 'P'
    });
    var icon = '<img src="assets/images/bathroom.png>';
    var marker = new google.maps.Marker({
      position: {lat: 30.272813, lng: -97.772034},
      map: map,
      title: 'South Mopac Parking Lot',
      label: 'P'
    });

    
  }

</script>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDNofaC2cFgHC5tyn-Xmq56vge7A0v9Kgk&callback=initMap"
async defer>
</script>

<script type="text/javascript">
  $(document).ready(function(){
    
  });
</script>


