<div class="navbar-fixed">
  <nav class="grey darken-4">
      <div class="nav-wrapper mainNavBar">
        <!-- <a href="#!" class="brand-logo  orange-text text-darken-4"></a> -->
        <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
        <ul class="right hide-on-med-and-down">
          <li><a class="white-text navLinks hoverable" href="/">Home</a></li>
          <li><a class="white-text navLinks hoverable" href="/routes">Routes</a></li>
          <li><a class="white-text navLinks hoverable" href="/training">Training</a></li>
          <li><a class="white-text navLinks hoverable" href="/races">Races</a></li>
          <li><a class="white-text navLinks hoverable" href="/community">Community</a></li>
        </ul>
        <ul class="side-nav" id="mobile-demo">
          <li><a href="/">Home</a></li>
          <li><a href="/routes">Routes</a></li>
          <li><a href="/training">Training</a></li>
          <li><a href="/races">Races</a></li>
          <li><a href="/community">Community</a></li>
        </ul>
    </div>
  </nav>
</div>

<div class="row">
  <div class="col s12 deep-orange accent-3 grey-text text-darken-4 seperator">
    <h4>Training Videos</h4>
  </div>
</div>

<div class="row coachArea">
  <div class="col l3 s6 coachDiv card-panel grey darken-4">
    <h5 class="center deep-orange-text text-accent-3">Gilbert Tuhabonye</h5>
    <p class="center light deep-orange-text text-accent-3">Coach, Gilbert's Gazelles</p>
    <ul class="youTubeOptions">
      <li class="youTubeVideoGazellesLink" value="0">Gilbert's Story</li>
      <li class="youTubeVideoGazellesLink" value="1">Running Form</li>
      <li class="youTubeLinksHeaders grey-text">Warm-Up Drills</li>
      <li class="youTubeVideoGazellesLink" value="2">Side Steps</li>
      <li class="youTubeVideoGazellesLink" value="3">Crossovers</li>
      <li class="youTubeVideoGazellesLink" value="4">Skips</li>
      <li class="youTubeVideoGazellesLink" value="5">Butt Kick, High Knees, Backwards</li>
      <li class="youTubeVideoGazellesLink" value="6">Strides</li>
    </ul>
  </div>
  <div class="col l3 s6 coachDiv card-panel grey darken-4">
    <h5 class="center deep-orange-text text-accent-3">Valarie Hunt</h5>
    <p class="center light deep-orange-text text-accent-3">Coach, Run ATX</p>
    <ul class="youTubeOptions">
      <li class="youTubeLinksHeaders grey-text">The POSE Method</li>
      <li class="youTubeVideoRunAtxLink" value="0">Standing</li>
      <li class="youTubeVideoRunAtxLink" value="1">The Pull</li>
      <li class="youTubeVideoRunAtxLink" value="2">Falling</li>
    </ul>
  </div>
	<div class="col l5 s12 center">
	 <iframe id="video" width="420" height="315" src=""></iframe>
	</div>
</div>

<div class="row">
  <div class="col s12 deep-orange accent-3 grey-text text-darken-4 seperator">
    <h4>Training Plans</h4>
  </div>
</div>

<div class="row">
  <div class="col s12 deep-orange accent-3 grey-text text-darken-4 seperator">
    <h4>Strength Training</h4>
  </div>
</div>


<!-- FOOTER -->
<div class="row">
	<div class="col s12">
		<footer class="">
		</footer>
	</div>
</div>

