<!-- Navbar -->
<nav class="grey lighten-5">
    <div class="nav-wrapper">
      <!-- <a href="#!" class="brand-logo  orange-text text-darken-4"></a> -->
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="grey-text navLinks" href="/">Home</a></li>
        <li><a class="grey-text navLinks" href="/routes">Routes</a></li>
        <li><a class="grey-text navLinks" href="/training">Training</a></li>
        <li><a class="grey-text navLinks" href="/races">Races</a></li>
        <li><a class="grey-text navLinks" href="/community">Community</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/routes">Routes</a></li>
        <li><a href="/training">Training</a></li>
        <li><a href="/races">Races</a></li>
        <li><a href="/community">Community</a></li>
      </ul>
	</div>
</nav>


<!-- first row start -->
<div class="row mainContent">
  <div class="input-field col l3 s12">
    <select>
      <option value="" disabled selected>The POSE Method</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Valerie Hunt, Run ATX</label>
  </div>
  <div class="input-field col l3 s12">
    <select>
      <option value="" disabled selected>Run With Joy</option>
      <option value="1">Option 1</option>
      <option value="2">Option 2</option>
      <option value="3">Option 3</option>
    </select>
    <label>Gilbert Tuhabonye, Gilbert's Gazelles</label>
  </div>
	<div class="right col l6 s12">
	 <iframe width="420" height="315" src="https://www.youtube.com/embed/gbmk7mtLLuU?controls=0"></iframe>
	</div>

</div>
<!-- first row end -->

<!-- FOOTER -->
<div class="row">
	<div class="col s12">
		<footer class="">
		</footer>
	</div>
</div>

