<nav class="black">
    <div class="nav-wrapper">
      <!-- <a href="#!" class="brand-logo  orange-text text-darken-4"></a> -->
      <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
      <ul class="right hide-on-med-and-down">
        <li><a class="white-text navLinks hoverable" href="/">Home</a></li>
        <li><a class="white-text navLinks hoverable" href="/routes">Routes</a></li>
        <li><a class="white-text navLinks hoverable" href="/training">Training</a></li>
        <li><a class="white-text navLinks hoverable" href="/races">Races</a></li>
        <li><a class="white-text navLinks hoverable" href="/community">Community</a></li>
      </ul>
      <ul class="side-nav" id="mobile-demo">
        <li><a href="/">Home</a></li>
        <li><a href="/routes">Routes</a></li>
        <li><a href="/training">Training</a></li>
        <li><a href="/races">Races</a></li>
        <li><a href="/community">Community</a></li>
      </ul>
  </div>
</nav>

<div class="banner white-text">
  <h4>A goal without a plan is just a dream</h4>
  <p>Austin is home to numerous fantastic coaches and running clubs.  Whether you train with a group or alone, you need a plan.</p>
</div>

<!-- first row start -->
<div class="row mainContent">
  <div class="col l3 s6 coachDiv">
    <h5 class="center">Gilbert Tuhabonye</h5>
    <p class="center light">Coach, Gilbert's Gazelles</p>
    <ul class="youTubeOptions">
      <li class="youTubeVideoGazellesLink hoverable" value="0">Gilbert's Story</li>
      <li class="youTubeVideoGazellesLink hoverable" value="1">Running Form</li>
      <li class="youTubeLinksHeaders grey-text">Warm-Up Drills</li>
      <li class="youTubeVideoGazellesLink hoverable" value="2">Side Steps</li>
      <li class="youTubeVideoGazellesLink hoverable" value="3">Crossovers</li>
      <li class="youTubeVideoGazellesLink hoverable" value="4">Skips</li>
      <li class="youTubeVideoGazellesLink hoverable" value="5">Butt Kick, High Knees, Backwards</li>
      <li class="youTubeVideoGazellesLink hoverable" value="6">Strides</li>
    </ul>
  </div>
  <div class="col l3 s6 coachDiv">
    <h5 class="center">Valarie Hunt</h5>
    <p class="center light">Coach, Run ATX</p>
    <ul class="youTubeOptions">
      <li class="youTubeLinksHeaders grey-text">The POSE Method</li>
      <li class="youTubeVideoRunAtxLink hoverable" value="0">Standing</li>
      <li class="youTubeVideoRunAtxLink hoverable" value="1">The Pull</li>
      <li class="youTubeVideoRunAtxLink hoverable" value="2">Falling</li>
    </ul>
  </div>
	<div class="col l6 s12 center">
	 <iframe id="video" width="420" height="315" src=""></iframe>
	</div>

</div>
<!-- first row end -->

<!-- FOOTER -->
<div class="row">
	<div class="col s12">
		<footer class="">
		</footer>
	</div>
</div>

