/*+++++++++++++
NAVBAR
+++++++++++++*/
.mainNavBar{
	padding-right: 15px;
	padding-left: 30px;
	border-bottom: 8px solid #c6ff00;
}

.navLinks{
	font-family: 'Baloo Bhaina', roboto;
	font-size: 20px;
}

.navLinks:hover{
	background-color: #212121;
}

.button-collapse{
	color: red;
}

.loginText{
	margin-top: 0px;
	margin-bottom: 0px;
}


/*+++++++++++++
Registration Modal
+++++++++++++*/
.registrationForm{
	padding-left: 5px;
	padding-right: 5px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.modal-footer{
	border-top: 3px solid #c6ff00;
	margin-bottom: 0px;
}

/*+++++++++++++
MAIN PAGE
+++++++++++++*/
.banner{
	height: 400px;
	padding: 15px;
	background-image: url('../images/jimmiesSkylineBanner2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.mainPageIntro{
	font-size: 18px;
	padding-right: 10px;
	padding-left: 10px;
}

.mainContent{
	margin-top: 30px;
}

.title{
	text-shadow: 2px 1px black;
}

iframe{
	width: 100%;
}

/*+++++++++++++
Phone Settings
+++++++++++++*/
@media only screen and (max-width: 700px) {

     .banner{
		height: 600px;
	}

	#messageBoardPost{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		float: left;
		height: 250px;
	}
}

/*+++++++++++++
ROUTES
+++++++++++++*/
#routeImageHolder{
	text-align: center;
}

#routeImage{
	margin-top: 20px;
	width: 70%;
	border: 1px solid black;
	max-height: 300px;
}

#butlerDrop{
	margin-top: 64px;
	width: 275px;
}

.routeDropdownButton{
	margin-left: 15px;
	width: 250px;
}

.routeNavDropdowns{
	padding-left: 7px;
	padding-right: 7px;
	line-height: 1.5em;
}

#routeTitle{
	margin-top: 40px;
}

#routeDescription{
	margin-top: 40px;
	margin-bottom: 40px;
}

#map{
	height: 350px;
	border: 1px solid black;
	margin-bottom: 100px;
	margin-top: 50px;
}

@media only screen and (max-width: 700px) {
	#routeImage{
	margin-top: 10px;
	width: 90%;
	border: 1px solid black;
	max-height: 300px;
	}

	#map{
		height: 300px;
		border: 1px solid black;
		margin-bottom: 10px;
		margin-top: 20px;
	}

}

/*+++++++++++++
TRAINING
+++++++++++++*/

.trainingDivider{
	margin-top: 50px;
	padding-left: 20px;
	padding-right: 20px;
}

.trainingHeading{
	margin-top: 30px;
}

.trainingContainer{
	width: 95%;
	margin-left: auto;
	margin-right: auto;
}

#iframeDiv{
	width: 80%;
	margin-right: auto;
	margin-left: auto;
}

#video{
	margin-top: 10px;
}

.coachArea{
	padding-left: 10px;
	margin-top: 30px;
}

.coachDiv{
	width: 99%;
	margin-left: auto;
	margin-right: auto;
	height: 315px;
}

.youTubeOptions{
	padding-left: 10px;
}

.youTubeVideoGazellesLink{
	padding-left: 15px;
	border-radius: 2px;
	color: white;
}

.youTubeVideoGazellesLink:hover{
	color: #76ff03;
	cursor: pointer;
}

.youTubeVideoRunAtxLink{
	padding-left: 15px;
	color: white;
}

.youTubeVideoRunAtxLink:hover{
	color: #76ff03;
	cursor: pointer;
}

.youTubeLinksHeaders{
	padding-left: 15px;
}

.countdownTimer{
	width: 25%;
	/*line-height: 75px;*/
	font-size: 35px;
}

.exerciseDiv{
	width: 100%;
}

.trainingPlanDisplay{
	width: 80%;
}

.trainingPlanLink{
	background-color: #2196f3;
	color: white;
	border-radius: 2px;
	padding: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.trainingPlanLink:hover{
	color: #76ff03;
	background-color: #1976d2;
	cursor: pointer;
}

.workoutLink{
	background-color: #2196f3;
	color: white;
	border-radius: 2px;
	padding: 5px;
	margin-top: 1px;
	margin-bottom: 1px;
}

.workoutLink:hover{
	color: #76ff03;
	background-color: #1976d2;
	cursor: pointer;
}

#instructions{
	width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.exerciseName{
	margin-bottom: 25px;
}

@media only screen and (max-width: 700px) {
	#iframeDiv{
		width: 95%;
	}

	.planPanel{
		overflow-x: scroll;
	}

	.trainingDivider{
		margin-top: 20px;
	}
}

/*+++++++++++++
COMMUNITY
+++++++++++++*/
.carouselHeadingDiv{
	margin-bottom: 0px;
}

.carouselHeading{
	padding-top: 15px;
}

.runGroupLink{
	color: #76ff03;
}

.runGroupLink:hover{
	color: white;
}


.weekDay{
	margin-top: 30px;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
	height: 230px;
}

#bulletinBoard{
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 3px;
	padding-top: 20px;
}

.messageBoard{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#messageBoardPost{
	width: 29%;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
	height: 350px;
	overflow-y: hidden;
	overflow-x: hidden;
}

#messageForm{
	width: 40%;
	margin-top: 20px;
	margin-bottom: 40px;
	padding: 15px;
	margin-left: 50px;
	border-radius: 3px;
}



/*+++++++++++++
Tablet Settings
+++++++++++++*/
@media only screen and (max-width: 800px) {

     .weekDay{
		margin-top: 20px;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		height: 250px;
	}

	#messageBoardPost{
		width: 40%;
		margin-left: 2%;
		margin-right: 2%;
		float: left;
		height: 350px;
	}
}

/*+++++++++++++
Phone Settings
+++++++++++++*/
@media only screen and (max-width: 700px) {

     .weekDay{
		margin-top: 20px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		height: 200px;
	}

	#messageBoardPost{
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		/*float: left;*/
		height: 250px;
	}
}

/*+++++++++++++
FOOTER
+++++++++++++*/
footer{
	height: 350px;
	background-image: url('../images/footerSkyline.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.listHeader{
	font-size: 30px;
	text-shadow: 1px 1px grey;
}

.footerNav{
	margin-top: 195px;
	margin-left: 120px;
}

.footerLinks{
	color: black;
}

.footerLinks:hover{
	color: green;
}

@media only screen and (max-width: 700px) {

    footer{
    	height: 200px;
    }
}
