/*+++++++++++++
JUMBOTRON
+++++++++++++*/
.jumbotron{
	width: 100%;
	height: 200px;
	background-color: blue;
}

/*+++++++++++++
MAIN PAGE
+++++++++++++*/
.contentContainer{
	width: 100%;
	overflow: auto;
}

.navigationContainer{
	width: 10%;
	min-width: 75px;
}

.navList{
	margin-top: 0px;
}

.navLinks{
	border: 1px solid grey;
	line-height: 50px;
	padding-left: 15px;
	background-color: blue;
	color: white;
}

.navLinks:hover{
	background-color: red;
}

.mainContent{
	width: 90%;
	height: 600px;
	background-color: yellow;
}
