body, html{
	
	
}

/*+++++++++++++
NAVBAR
+++++++++++++*/
nav{
	margin-top: 1px;
}

/*+++++++++++++
MAIN PAGE
+++++++++++++*/
.nav-wrapper{
	padding-right: 15px;
	padding-left: 30px;
}

.navLinks{
	font-family: 'Baloo Bhaina', roboto;
	font-size: 20px;
}

.button-collapse{
	color: red;
}

.mainContent{
	
}

#runMascot{
	width: 100%;
}

#login{
	padding-right: 12px;
}

.title{
	text-shadow: 2px 2px black;
}


/*Instagram Imbed*/
.instagram-media{
	background:#FFF; 
	border:0; border-radius:3px; 
	box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
	margin: 1px; 
	max-width:658px; 
	padding:0; 
	width:99.375%; 
	width:-webkit-calc(100% - 2px); 
	width:calc(100% - 2px);	
}

#instagram2{
	background:#F8F8F8; 
	line-height:0; 
	margin-top:40px; 
	padding:50.0% 0; 
	text-align:center; 
	width:100%;
}

#instagram3{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); 
	display:block; 
	height:44px; 
	margin:0 auto -44px; 
	position:relative; 
	top:-22px; 
	width:44px;
}

#instagram4{
	color:#c9c8cd; 
	font-family:Arial,sans-serif; 
	font-size:14px; 
	line-height:17px; 
	margin-bottom:0; 
	margin-top:8px; 
	overflow:hidden; 
	padding:8px 0 7px; 
	text-align:center; 
	text-overflow:ellipsis; 
	white-space:nowrap;
}

#instagramLink{
	color:#c9c8cd; 
	font-family:Arial,sans-serif; 
	font-size:14px; 
	font-style:normal; 
	font-weight:normal; 
	line-height:17px; 
	text-decoration:none;
}

#instagramDate{
	font-family:Arial,sans-serif; 
	font-size:14px; 
	line-height:17px;
}

/*+++++++++++++
ROUTES
+++++++++++++*/
.mainContent{
	margin-top: 50px;
}

#routeImage{
	width: 100%;
	border: 1px solid black;
	max-height: 300px;
}

#butlerDrop{
	margin-top: 64px;
	padding: 5px;
}

/*+++++++++++++
TRAINING
+++++++++++++*/
.banner{
	height: 400px;
	padding: 15px;
	background-image: url('../images/jimmiesSkylineBanner2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

#video{
	margin-left: auto;
	margin-right: auto;
}

.coachDiv{
	
}

.youTubeOptions{
	padding-left: 10px;
}

.youTubeVideoGazellesLink{
	padding-left: 15px;
	width: 50%;
	border-radius: 2px;
}

.youTubeVideoGazellesLink:hover{
	background-color: #eeeeee;
	cursor: pointer;
}

.youTubeVideoRunAtxLink{
	padding-left: 15px;
	width: 50%;
	border-radius: 2px;
}

.youTubeVideoRunAtxLink:hover{
	background-color: #eeeeee;
	cursor: pointer;
}

.youTubeLinksHeaders{
	padding-left: 15px;
}

/*+++++++++++++
COMMUNITY
+++++++++++++*/
.day{
	border: 1px solid black;
	margin-left: 1px;
	margin-right: 1px;
	width: 14%;
	float: left;
	height: 150px;
}

.runGroupLink{
	padding-left: 5px;
}

#bulletinBoard{
	height: 500px;
	border: 1px solid black;
}

#messageBoardPost{
	width: 33%;
	float: left;
}

/*+++++++++++++
FOOTER
+++++++++++++*/
footer{
	height: 350px;
	background-image: url('../images/footerSkyline3.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.listHeader{
	font-size: 20px;
}

.footerNav{
	margin-top: 75px;
	margin-left: 25px;
}
