/*+++++++++++++
JUMBOTRON
+++++++++++++*/
.jumbotron{
	width: 100%;
	height: 200px;
	margin-top: 0px;
}

.searchBar{
	width: 25%;
}

/*+++++++++++++
MAIN PAGE
+++++++++++++*/
.contentContainer{
	margin-top: 10px;

}

.navigationContainer{

}

.navList{
	margin-top: 0px;
}

.navLinks{
	border: 1px solid grey;
	line-height: 50px;
	padding-left: 15px;
	background-color: blue;
	color: white;
}

.navLinks:hover{
	background-color: red;
}

.mainContent{
	height: 600px;
	background-color: yellow;
}

/*+++++++++++++
FOOTER
+++++++++++++*/
footer{
	height: 300px;
}
