
/*+++++++++++++
NAVBAR
+++++++++++++*/
.mainNavBar{
	padding-right: 15px;
	padding-left: 30px;
	border-bottom: 8px solid #c6ff00;
}

.navLinks{
	font-family: 'Baloo Bhaina', roboto;
	font-size: 20px;
}

.navLinks:hover{
	background-color: #212121;
}

.button-collapse{
	color: red;
}

.loginText{
	margin-top: 0px;
	margin-bottom: 0px;
}


/*+++++++++++++
Registration Modal
+++++++++++++*/
.registrationForm{
	padding-left: 5px;
	padding-right: 5px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

/*+++++++++++++
MAIN PAGE
+++++++++++++*/
.banner{
	height: 400px;
	padding: 15px;
	background-image: url('../images/jimmiesSkylineBanner2.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.mainContent{
	margin-top: 30px;
}

#runMascot{
	width: 100%;
}

#login{
	padding-right: 12px;
}

.title{
	text-shadow: 2px 1px black;
}


/*Instagram Imbed*/
.instagram-media{
	background:#FFF; 
	border:0; border-radius:3px; 
	box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); 
	margin: 1px; 
	max-width:658px; 
	padding:0; 
	width:99.375%; 
	width:-webkit-calc(100% - 2px); 
	width:calc(100% - 2px);	
}

#instagram2{
	background:#F8F8F8; 
	line-height:0; 
	margin-top:40px; 
	padding:50.0% 0; 
	text-align:center; 
	width:100%;
}

#instagram3{
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); 
	display:block; 
	height:44px; 
	margin:0 auto -44px; 
	position:relative; 
	top:-22px; 
	width:44px;
}

#instagram4{
	color:#c9c8cd; 
	font-family:Arial,sans-serif; 
	font-size:14px; 
	line-height:17px; 
	margin-bottom:0; 
	margin-top:8px; 
	overflow:hidden; 
	padding:8px 0 7px; 
	text-align:center; 
	text-overflow:ellipsis; 
	white-space:nowrap;
}

#instagramLink{
	color:#c9c8cd; 
	font-family:Arial,sans-serif; 
	font-size:14px; 
	font-style:normal; 
	font-weight:normal; 
	line-height:17px; 
	text-decoration:none;
}

#instagramDate{
	font-family:Arial,sans-serif; 
	font-size:14px; 
	line-height:17px;
}

/*+++++++++++++
ROUTES
+++++++++++++*/
#routeImageHolder{
	text-align: center;
}

#routeImage{
	width: 70%;
	border: 1px solid black;
	max-height: 300px;
}

#butlerDrop{
	margin-top: 64px;
	width: 275px;
}

.routeDropdownButton{
	margin-left: 15px;
	width: 250px;
}

.routeNavDropdowns{
	padding-left: 7px;
	padding-right: 7px;
	line-height: 1.5em;
}

/*+++++++++++++
TRAINING
+++++++++++++*/

.trainingHeading{
	margin-top: 30px;
}

#video{
	margin-left: auto;
	margin-right: auto;
}

.coachArea{
	padding-left: 10px;
	margin-top: 30px;
}

.coachDiv{
	margin-left: 12px;
	margin-right: 12px;
	height: 315px;
}

.youTubeOptions{
	padding-left: 10px;
}

.youTubeVideoGazellesLink{
	padding-left: 15px;
	border-radius: 2px;
	color: #76ff03;
}

.youTubeVideoGazellesLink:hover{
	color: white;
	cursor: pointer;
}

.youTubeVideoRunAtxLink{
	padding-left: 15px;
	color: #76ff03;
}

.youTubeVideoRunAtxLink:hover{
	color: white;
	cursor: pointer;
}

.youTubeLinksHeaders{
	padding-left: 15px;
}

.countdownTimer{
	/*width: 100%;*/
	line-height: 75px;
	font-size: 35px;
}

.exerciseDiv{
	width: 100%;
}

/*+++++++++++++
COMMUNITY
+++++++++++++*/
.carouselHeadingDiv{
	margin-bottom: 0px;
}

.carouselHeading{
	padding-top: 15px;
}

.runGroupLink{
	color: #76ff03;
}

.runGroupLink:hover{
	color: white;
}


.weekDay{
	margin-top: 30px;
	width: 33%;
	margin-left: auto;
	margin-right: auto;
	height: 230px;
}

#bulletinBoard{
	margin-left: 15px;
	margin-right: 15px;
	border-radius: 3px;
	padding-top: 20px;
}

.messageBoard{
	width: 90%;
	margin-left: auto;
	margin-right: auto;
}

#messageBoardPost{
	width: 29%;
	margin-left: 2%;
	margin-right: 2%;
	float: left;
	height: 350px;
}

#eventForm{
	margin-left: 20px;
}



/*+++++++++++++
Tablet Settings
+++++++++++++*/
@media only screen and (max-width: 800px) {

     .weekDay{
		margin-top: 20px;
		width: 60%;
		margin-left: auto;
		margin-right: auto;
		height: 250px;
	}

	#messageBoardPost{
		width: 40%;
		margin-left: 2%;
		margin-right: 2%;
		float: left;
		height: 350px;
	}
}

/*+++++++++++++
Phone Settings
+++++++++++++*/
@media only screen and (max-width: 700px) {

     .weekDay{
		margin-top: 20px;
		width: 90%;
		margin-left: auto;
		margin-right: auto;
		height: 200px;
	}

	#messageBoardPost{
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		float: left;
		height: 250px;
	}
}

/*+++++++++++++
FOOTER
+++++++++++++*/
footer{
	height: 350px;
	background-image: url('../images/footerSkyline.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.listHeader{
	font-size: 30px;
	text-shadow: 1px 1px grey;
}

.footerNav{
	margin-top: 195px;
	margin-left: 120px;
}

.footerLinks{
	color: black;
}

.footerLinks:hover{
	color: green;
}
