/*+++++++++++++
JUMBOTRON
+++++++++++++*/
.jumbotron{
	width: 100%;
	height: 125px;
	margin-top: 0px;
}


/*+++++++++++++
NAVBAR
+++++++++++++*/
nav{
	margin-top: 1px;
}


/*+++++++++++++
MAIN PAGE
+++++++++++++*/
.nav-wrapper{
	padding-right: 15px;
	padding-left: 30px;
}

.navLinks{
	font-family: 'Baloo Bhaina', roboto;
	font-size: 20px;
}

.button-collapse{
	color: red;
}

.mainContent{
	height: 600px;
}

#runMascot{
	width: 100%;
	margin-top: 5px;
}

/*+++++++++++++
ROUTES
+++++++++++++*/
#routeImageHolder{
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 75px;
}

#routeImage{
	width: 100%;
	border: 1px solid black;
	max-height: 300px;
}

#routeDescription{
	width: 65%;
	margin-left: auto;
	margin-right: auto;
}

#butlerDrop{
	margin-top: 64px;
	padding: 5px;
}

#eastsideRouteMainImage{
	width: 70%;
	margin-left: auto;
	margin-right: auto;
}

/*+++++++++++++
FOOTER
+++++++++++++*/
footer{
	height: 300px;
}
